body {
  text-align: center;
  background-color: #282c34;
}

.game {
  border: 2px black solid;
  width: 100%;
  max-width: 500px;
  height: 99.6vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #CCC;
}

header {
  font-size: 34px;
  font-weight: 700;
  /* border: 1px green dotted; */
  border-bottom: 2px black solid;
}

.gameArea {
  /* border: 1px blue dotted; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.messageContainer {
  display: flex;
  justify-content: center;
}

.messageBox {
  position: absolute;
  top: 9%;
  font-size: 20px;
}

.cellContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 7px;
}

.cell {
  border: 2px rgb(175, 173, 173) solid;
  width: 60px;
  height: 60px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: 600;
}

.cell.match {
  background-color: rgb(43, 134, 15)
}

.cell.misplaced {
  background-color: rgb(187, 175, 13)
}

.cell.wrong {
  background-color: #000;
}

.keyboard {
  /* border: 1px red dotted; */
  border-top: 2px black solid;
  /* height: 250px; */
  display: flex;
  align-items: flex-end;
}

.simple-keyboard {
  color: black;
  background-color: black;
}

.simple-keyboard.hg-theme-default.hg-layout-default {
  background-color: #282c34;
}

.simple-keyboard.hg-layout-default .hg-button.hg-standardBtn {
  background-color: rgb(221, 221, 221);
  height: 60px;
}

.simple-keyboard.hg-layout-default .hg-button.hg-functionBtn.hg-button-enter {
  background-color: rgb(221, 221, 221);
  height: 60px;
}

.simple-keyboard.hg-layout-default .hg-button.hg-functionBtn.hg-button-bksp {
  background-color: rgb(221, 221, 221);
  height: 60px;
}
